@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;700&family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Light mode */
html {
  background-color: #efefef;
  scroll-padding-top: 15vh;
  overflow-y: auto;
}
body {
  overflow-y: auto;
}

/* Dark mode */
html.dark {
  background-color: #0f172a;
}

/* Custom scrollbar styles for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #e7fff6; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #4fd2a3; /* Color of the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
  background: #0da06a; /* Darker shade on hover */
}

@layer components {
  .card {
    box-shadow:
      0 6px 12px rgba(0, 0, 0, 0.2),
      0 3px 5px rgba(0, 0, 0, 0.1);
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
    transform: translateY(0);
    overflow-x: hidden;
  }

  .card:hover {
    box-shadow:
      0 8px 16px rgba(0, 0, 0, 0.2),
      0 3px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid-center {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .gradient-light {
    background-image: linear-gradient(
      to right,
      rgba(245, 224, 195, 0.4),
      /* Light beige */ rgba(241, 196, 141, 0.4),
      /* Soft golden beige */ rgba(226, 189, 150, 0.4) /* Light brown */
    );
  }
  .gradient-dark {
    background-image: linear-gradient(
      to right,
      rgba(45, 55, 72, 0.2),
      rgba(56, 178, 172, 0.2),
      rgba(74, 85, 104, 0.2)
    );
  }
}
